:root{

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  background-image: url(https://i.postimg.cc/TYv5ZLkr/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  padding: 0px;
}

header{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px;
  z-index: 5;
}

header img{
  width: 180px;
  margin: 0 auto;
  
}
nav{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
form{
  display: flex;
  position: relative;
}
form input{
  margin-left: 8px;
  margin-bottom: 8px;
  width: 200px;
  height: 40px;
  padding-left: 12px;
  border-radius: 8px;
}
form button{
  border: none;
  border-radius: 50%;
  width: 32px;
  background-color: transparent;
  position: absolute;
  left: 172px;
  top: 4px;
  padding: 1px;
  box-shadow: none;
}
form img{
  width: 32px;
  width: 0 auto;
  
}
main{
  padding-bottom: 120px;
}
footer{
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 8px;
  width: 100%;
  z-index: 2;
}
.footer-titulo{
  text-align: center;
  margin-bottom: 16px;
}
.footer-titulo h3{
  font-weight: bold;
}
.footer-titulo p{
  font-style: italic;
}

.footer-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-body ul li{
  list-style: none;
}
.footer-texto{
  text-align: center;
}
.link{
  text-decoration: none;
  color: white;
}
.mapa{
  margin: 0 auto;
}
iframe{
  width: 177px;
  height: 70px;
}
button{
  background-color: red;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  height: 32px;
  width: 76px;
  box-shadow: 2px 2px 5px 2px black;  
}
Link{
  text-decoration: none;
}

.btn-populares{
  width: auto;
  height: 40px;
  margin-left: 8px;
  padding: 0 8px;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
}

.btn-populares:hover{
  background-color: black;
}

@media(min-width: 420px){
  footer{
    padding-bottom: 24px;
  }
  .footer-body{
    max-width: 900px;
    margin: 0 auto;
  }


}